<div class="container" style="padding:50px">
    <div class="row" style="margin-top: 200px;">
        <div class="col col-lg-6" style="background-color: white;">
            <img src="../../assets/images/TSC_Logo.png" width="95%" style="padding: 20px; padding-top:80px;"/>
        </div>
        <div class="col col-lg-6" style="padding-left:30px">
            <div class="row" style="padding-bottom:30px">
                <h1 style="color: white; padding: 0px;"><b>Welcome to our services portal! Please login to continue!</b></h1>
            </div>
            <div class="row" style="padding-bottom: 10px;">
                <label style="color: white; padding: 0px;">Navigator ID:</label>
                 <input type="text" placeholder="Enter your username" style="padding: 10px;" />
            </div>
            <div class="row" style="padding-bottom: 30px;">
                <label style="color: white;padding: 0px;" >Password:</label>
                <input type="password" placeholder="Enter your password" style="padding: 10px;"  />
            </div>
            <div class="row">
                <button type="button" class="btn btn-dark" (click)="clickLogin()">Login</button>
            </div>
        </div>
    </div>
</div>
